# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Folder files #
######################
files
assets/news/
assets/images/
google69222bb16f9f8aeb.html
f668mbq9ouemyznbrc35qaiydbd8h3.html
