body {
	background: red;
}
.green-color {
	background: none;
}
.relative {
	position: relative;
}

/**
 * Top header
 **************************/
.top-header {
	width: 100%; height: 44px; border-bottom: 2px solid #cccccc;
}
.top-header-left {
	float: left; height: 44px;
}
.top-header-left-01 {
	padding: 8px 0; float: left; margin-right: 10px;
}
.top-header-left-01 img{
	vertical-align: middle;
}
.top-header-left-01 span{
	font-size: 15px; font-weight: 600; vertical-align: middle; padding: 5px 0;
}
.top-header-left-01 span:first-child {
	color: #252525; margin-left: 5px;
}
.top-span {
	margin-left: 5px;
}
.top-header-left-01 span:last-child {
	color: #f85f32; margin-left: 8px;
}

.top-header-left-02 {
	padding: 10px 0;
}

.top-header-right {
	height: 44px; float: right;
}
.top-header-right ul li {
	float: left; font-size: 14px; padding: 15px 10px;  border-right: 1px dotted #cccccc;
}
.top-header-right ul li:last-child {
	border-right: none;
}
.top-header-right ul li a {
	color: #000000;
}
.top-header-right ul li a:hover {
	color: #4089b7;
}

.logo {
	width: 400px; height: 110px; margin-left: 0px;
}

.head-search {
	position: relative; float: right; margin-top: 40px;
}
.head-search .input-search{
	position: absolute; right: 75px; border: 1px solid #cccccc; height: 23px; width: 360px; padding: 5px 0 5px 40px;
	background: url("../images/icon-search.png") no-repeat 5px 10px;
}
.head-search .input-search input {
	height: 25px; line-height: 25px; border: none; width: 100%;
}
.head-search button {
	position: absolute; right: 0px; width: 70px; height: 35px; background-color: #656565; border: none; color: #ffffff; line-height: 35px; font-size: 14px; cursor: pointer;
}

/**
 * Menu
 *************************/
.headter-top, .dropdown-navigative-menu {
	height: 40px;
}
.headter-top #page-navigative-menu{
	height: 40px; background: none; background-color: #00619f;
}
#page-navigative-menu ul {
	margin: 0;
}
#page-navigative-menu ul li {
	margin: 0px; height: 40px; padding: 0 13px;
}
#page-navigative-menu ul li a.haslin {
	text-transform: uppercase; line-height: 40px;
}
#page-navigative-menu a:hover {
	color: #ffed21;
}
#page-navigative-menu li li {
	height: 35px;
}
#page-navigative-menu li li a{
	padding: 2px 0;
}

/**
 * Slider
 **************************/
.main-slider {
 	width: 625px; float: left;
}
.banner {
 	width: 345px; float: right;
}
.banner .banner-6of12 {
 	width: 166px; float: left; border: 1px solid #cccccc; height: 85px; margin-bottom: 8px; margin-right: 8px;
}
.banner .banner-6of12:nth-child(2n) {
	margin-right: 0px; float: right;
}
.banner .banner-12of12 {
 	width: 343px; border: 1px solid #cccccc; float: left; height: 85px;
}

/**
 * Home page
 ******************************/
.home-service {
	width: 100%; height: 90px; clear: both;
}
.title-service {
	padding: 10px 0;
}
.title-service hr{
	border: 0; border-top: 2px solid #cccccc;
}
.title-service h2 {
	position: absolute; text-align: center; padding: 5px 10px; background-color: #ffffff; top: -5px; left: 40%; text-transform: uppercase; color: #000000; font-weight: 400;
}
.home-service ul {
	margin-top: 5px;
}
.home-service ul li {
	display: inline-block;
}
