body {
	background: #ffffff;
}
.green-color {
	background: none;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.cl {
	clear: both;
}
h1.h1-title{
	font-weight:bold; font-size:16px; margin-bottom:3px; color:#424242; text-transform: uppercase; line-height: 20px;
}
h1.h1-title-detail {
	color: #00619f; text-transform: uppercase; font-size: 20px; font-weight: 400;
}

/**
 * Top header
 **************************/
.top-header {
	width: 100%; height: 44px; border-bottom: 2px solid #cccccc;
}
.top-header-left {
	float: left; height: 44px;
}
.top-header-left-01 {
	padding: 8px 0; float: left; margin-right: 10px;
}
.top-header-left-01 img{
	vertical-align: middle;
}
.top-header-left-01 span{
	font-size: 15px; font-weight: 600; vertical-align: middle; padding: 5px 0;
}
.top-header-left-01 span:first-child {
	color: #252525; margin-left: 5px;
}
.top-span {
	margin-left: 5px;
}
.top-header-left-01 span:last-child {
	color: #f85f32; margin-left: 8px;
}

.top-header-left-02 {
	padding: 10px 0;
}

.top-header-right {
	height: 44px; float: right;
}
.top-header-right ul li {
	float: left; font-size: 14px; padding: 15px 10px;  border-right: 1px dotted #cccccc;
}
.top-header-right ul li:last-child {
	border-right: none;
}
.top-header-right ul li a {
	color: #000000;
}
.top-header-right ul li a:hover {
	color: #4089b7;
}

.logo {
	width: 400px; height: 110px; margin-left: 0px;
}

.head-search {
	position: relative; float: right; margin-top: 40px;
}
.head-search .input-search{
	position: absolute; right: 75px; border: 1px solid #cccccc; height: 23px; width: 360px; padding: 5px 0 5px 40px;
	background: url("../images/icon-search.png") no-repeat 5px 10px;
}
.head-search .input-search input {
	height: 25px; line-height: 25px; border: none; width: 100%;
}
.head-search button {
	position: absolute; right: 0px; width: 70px; height: 35px; background-color: #656565; border: none; color: #ffffff; line-height: 35px; font-size: 14px; cursor: pointer;
}

/**
 * Menu
 *************************/
.headter-top, .dropdown-navigative-menu {
	height: 40px;
}
.headter-top #page-navigative-menu{
	height: 40px; background: none; background-color: #00619f;
}
#page-navigative-menu ul {
	margin: 0;
}
#page-navigative-menu ul li {
	margin: 0px; height: 40px; padding: 0 13px; position: relative;
}
#page-navigative-menu ul li a.haslin {
	text-transform: uppercase; line-height: 40px;
}
#page-navigative-menu a:hover {
	color: #ffed21;
}
#page-navigative-menu li li {
	height: 35px;
}
#page-navigative-menu li li a{
	padding: 2px 0;
}


#page-navigative-menu ul.menu-category {
	width: 450px; border-bottom: none; position: absolute; top: 40px; left: 0;
}
#page-navigative-menu ul.menu-category li{
	width: 100%; float: left; height: auto; padding-bottom: 10px; border-top: none;
}
#page-navigative-menu ul.menu-category li:hover {
	background: #ffffff;
}
#page-navigative-menu ul.menu-category li div.menu-category-list{
	width: 48%; float: left; margin-right: 10px;
}
#page-navigative-menu ul.menu-category li div.menu-category-list:last-child {
	margin-right: 0px;
}
#page-navigative-menu ul.menu-category li div.menu-category-list p {
	text-transform: uppercase; color: #262626; line-height: 30px; border-bottom: 1px solid #cccccc; margin-top: 5px; height: 30px;
}
#page-navigative-menu ul.menu-category li div.menu-category-list .item{
	height: 30px; background: url("../images/icon-menu.png") no-repeat 1px 11px;
}
#page-navigative-menu ul.menu-category li div.menu-category-list .item a{
	height: 30px; display: block; width: 206px; padding: 0; margin: 0; line-height: 30px; padding-left: 10px;
}
#page-navigative-menu ul.menu-category li div.menu-category-list .item a:hover {
	background: url("../images/icon-menu-active.png") no-repeat 1px 11px #00619f; color: #ffffff;
}


.dropdown-navigative-menu .dropdown-navigative-menu2 ul {
	border: 1px solid #cccccc; background: #ffffff; min-width: 200px; border-top: none;
}
.dropdown-navigative-menu .dropdown-navigative-menu2 ul:hover {
	border: 1px solid #00619f; border-top: none;
}
#page-navigative-menu .dropdown-navigative-menu .dropdown-navigative-menu2 ul li {
	height: 30px; background: url("../images/icon-menu.png") no-repeat 15px 11px; border: none; padding: 0;
}
#page-navigative-menu .dropdown-navigative-menu .dropdown-navigative-menu2 ul li a {
	padding: 0 0 0 25px; height: 30px; line-height: 30px; color: #000000; width: 190px; margin: 0;
}
#page-navigative-menu .dropdown-navigative-menu .dropdown-navigative-menu2 ul li a:hover {
	background: url("../images/icon-menu-active.png") no-repeat 15px 11px #00619f; color: #ffffff;
}
/**
 * Slider
 **************************/
.main-slider {
 	width: 625px; float: left;
}
.banner {
 	width: 345px; float: right;
}
.banner .banner-6of12 {
 	width: 166px; float: left; border: 1px solid #cccccc; height: 85px; margin-bottom: 8px; margin-right: 8px;
}
.banner .banner-6of12:nth-child(2n) {
	margin-right: 0px; float: right;
}
.banner .banner-12of12 {
 	width: 343px; border: 1px solid #cccccc; float: left; height: 85px;
}

/**
 * Home page
 ******************************/
.home-service {
	width: 100%; height: 110px; clear: both;
}
.title-service {
	padding: 10px 0;
}
.title-service hr{
	border: 0; border-top: 2px solid #cccccc;
}
.title-service h2 {
	position: absolute; text-align: center; padding: 5px 10px; background-color: #ffffff; top: -5px; left: 40%; text-transform: uppercase; color: #000000; font-weight: 400;
}
.home-service div#service-bxslider {
	margin-top: 5px; float: left; width: 980px;
}
.home-service div#service-bxslider .slide {
	float: left;
}
.main-service-bxslider {
	width: 980px; height: 75px; float: left; overflow: hidden;
}
.main-service-bxslider .bx-wrapper, .main-service-bxslider .bx-wrapper .bx-window{
	width: 980px !important;
}
.main-service-bxslider .bx-prev, .main-service-bxslider .bx-next {
	top: 30px;
}

/**
 * Main
 ********************************/
.main .left {
	float: left; width: 675px;
}
.left .allboxsp2 .spbanchay {
	width: 675px; border: 1px solid #cccccc;
}
.spbanchay {
	padding-bottom: 10px;
}
.spbanchay hr {
	float: left; width: 100%; margin: 8px 0; border: 0; border-top: 1px solid #cccccc;
}
.spbanchay .boxsp {
	width: 337px; border-right: 1px solid #cccccc; height: 275px; border-bottom: 1px solid #cccccc;
}
.spbanchay .boxsp .title-boxsp {
	padding: 10px; line-height: 20px;
}
.spbanchay .boxsp .title-boxsp h2{
	float: left; color: #00619f; text-transform: uppercase; background: url("../images/icon-arrows.png") no-repeat 5px 2px;
	padding-left: 18px;
}
.spbanchay .boxsp .title-boxsp a{
	float: right; color: #1a1a1a; font-size: 13px; background: url("../images/icon-arrows-02.png") no-repeat 5px 5px; padding-left: 16px;
}
.spbanchay .boxsp.odd {
	border-right: none; float: right;
}

.spbanchay .boxsp .main-boxsp {
	padding: 5px 5px 5px 10px;
}
.main-boxsp .main-boxsp-large {
	border: 1px solid #cccccc; width: 142px; position: relative; float: left; margin-right: 5px;
}
.main-boxsp .main-boxsp-large a > img {
	margin: 15px 0 0 15px;
}
.main-boxsp .main-boxsp-large .name-and-price {
	background: #f5f5f5;
	padding: 5px;
}
.main-boxsp .main-boxsp-large .name-and-price a{
	font-size: 14px; color: #000000; line-height: 18px;
}
.main-boxsp .main-boxsp-large .name-and-price p {
	color: #1a1a1a; margin-top: 5px; font-size: 13px;
}
.main-boxsp .main-boxsp-large .name-and-price p span {
	color: #ff0000;
}
.main-boxsp .main-boxsp-large .pr-news {
	right: 10px; top: 80px; background-color: #0b6bbe; padding: 3px 7px; color: #ffffff; font-size: 15px;
}

.main-boxsp-small {
	width: 168px; float: left; margin-bottom: 15px;
}
.main-boxsp-small img {
	float: left;
}
.main-boxsp-small a{
	color: #000000; font-size: 15px;
}
.main-boxsp-small a:hover, .main-boxsp .main-boxsp-large .name-and-price a:hover {
	color: #00619f;
}
.main-boxsp-small p{
	margin-top: 5px; color: #1a1a1a; font-size: 13px;
}
.main-boxsp-small p span{
	color: #ff0000;
}


.main .right {
	float: right; width: 295px;
}
.main .right .right-box {
	margin-bottom: 10px; float: left; width: 100%;
}

.right .toponline {
	background: none; width: 100%; height: auto; float: none;
}
.right .toponline h2 {
	color:#424242; font-size:16px; font-weight:bold; margin-bottom:2px; text-transform: uppercase;
	line-height: 22px;
}
.right .midonline {
	background: none; width: 295px; margin-top: 5px;
}

.boxdownload {
	width: 100%;
}
.boxdownload{
	width: 100%;
}
.sreencontentdownload {
	width:295px; height:80px; float:left; margin-bottom: 20px;
}
.imges-block-you-see{
    float: left; width: 90px; height: 80px; margin-right: 10px;
}
a.link-block-you-see{
    color: #333333; font-size: 13px; font-weight: 600;
}
a.link-block-you-see p {
	height: 32px; overflow: hidden;
}
a.link-block-you-see:hover{
    color: #005a9b;
}

.sreencontentdownload > p {
	color: #7a7a7a; font-size: 12px;
}
.sreencontentdownload p.des {
	padding: 3px 0; color: #000000; text-align: justify; line-height: 16px;
}


.boxsp2 {
	margin-left: 20px; margin-top: 10px;
}
.boxsp2 .titlesp3 p {
	font-size: 14px;
}
.bx-window {
	left: 0px;
}
.bx-prev {
	background: url("../images/arrow-bxslider-01.png") no-repeat; top: 85px; left: 0; width: 15px;
}
.bx-next {
	background: url("../images/arrow-bxslider-02.png") no-repeat; top: 85px; right: -5px; width: 15px;
}
.new1, .new2 {
	width: 485px;
}
.new2 {
	margin-left: 0; float: right;
}
.new1 .hinhnew, .new2 .hinhnew {
	margin-left: 0; width: 110px; height: 85px; border: 2px solid #cccccc; margin-top: 0px;
}
.hinhnew img {
	width: 110px; height: 85px;
}
.contentnew a, .contentnew a p{
	width: auto;
}
.line2 {
	margin-left: 0; width: 485px; background: #cccccc;
}

.foter {
	background: #f5f5f5; border-top: 1px solid #cccccc; margin-top: 0px; height: 265px;
}
.foter .center {
	width: 550px; margin: 0 auto; border-top: 1px solid #555555; text-align: center;
}

.foter .footer-right {
	width: 330px; height: 110px; border: 1px solid #cccccc; border-radius: 2px; background: #ffffff; float: right; padding: 10px;
}
.foter .footer-right h3 {
	text-transform: uppercase; font-size: 15px;
}
.footer-right-01 {
	padding: 5px 0; border-bottom: 1px solid #cccccc;
}
.footer-right-01:last-child {
	border-bottom: none;
}
.footer-right-01 p:first-child {
	color: #00619f; font-size: 16px;
}
.footer-right-01 p:last-child {
	font-size: 13px;
}


.foter .add .footer-menu {
	margin-bottom: 10px; float: left;
}
.foter .add .footer-menu li {
	float: left; margin-right: 8px; border-right: 1px solid #000000; padding-right: 10px; line-height: 12px; height: 12px;
}
.foter .add .footer-menu li:last-child {
	border-right: none;
}
.foter .add .footer-menu li a{
	font-size: 14px; color: #000000;
}
.foter .add .footer-menu li a:hover{
	color: #00619f;
}

.foter .add .category {
	float: left; width: 100%;
}
.foter .add .category li{
	float: left; padding-left: 10px; background: url('../images/icon-menu.png') no-repeat 0 8px; margin-right: 30px; line-height: 20px;
	width: 100px;
}
.foter .add .category li a {
	color: #000000; font-size: 14px;
}
.foter .add .category li a:hover {
	color: #00619f;
}


.allboxsp1 {
	border: none; padding-top: 0;
}


/**
 * Product
 *****************************/
.main-product {
	float: left; width: 980px; margin-top: 20px;
}
.main-product .left {
	width: 100%;
}
.main-product .left .allboxsp1 .title {
	position: relative; float: left; margin: 15px 0 5px;
}
.main-product .left .allboxsp1 .title h1{
	position: absolute; background: #ffffff; left: 0; top: -11px; text-transform: uppercase; font-weight: 400; padding-right: 15px;
	font-size: 20px;
}
.main-product .line7 {
	width: 980px; background: #cccccc;
}
.main-product .xemtatca a{
	width: auto; float: right; line-height: 25px;
}
.main-product .boxsp {
	width: 215px; margin-right: 10px; border: 1px solid #cccccc; margin-bottom: 10px; border-radius: 2px; padding: 10px;
	height: 130px;
}
.main-product .boxsp:nth-child(4n) {
	margin-right: 0px;
}
.main-product .boxsp .sp3 {
	width: 65px; height: 125px;
}
.main-product .boxsp .sp3 img {
	width: 65px; height: auto; margin-left: 0;
}
.main-product .boxsp .titlesp {
	float: left; width: 150px;
}
.main-product .boxsp .titlesp a{
	margin: 0; width: 100%; font-weight: 600; height: auto; margin-bottom: 8px;
}
.main-product .boxsp .titlesp a:hover {
	margin: 0; color: #00619f; width: 100%; height: auto; margin-bottom: 8px;
}
.main-product .boxsp .pricespold {
	width: 150px;
}
.main-product .boxsp .pricespnew {
	width: 150px;
}
.main-product .boxsp .boxsale {
	float: left; padding: 5px 0; width: 150px;
}
.main-product .spbanchay {
	width: 980px;
}
.main-product .boxsp .boxsale a span {
	margin: 3px 0;
}
.main-product .boxsp .boxsale .sp-news span {
	display: inline-block; padding: 3px 5px; color: #ffffff; background: #0a6abd; text-transform: uppercase; font-weight: 600;
}
.main-product .boxsp .boxsale .sp-gs span {
	display: inline-block; padding: 3px 5px; color: #ffffff; background: #cc1414; text-transform: uppercase; font-weight: 600;
}

.main-product .boxsp .boxsale .sp-giff span {
	display: inline-block; padding: 3px 5px; color: #ffffff; background: #7bbd0b; text-transform: uppercase; font-weight: 600;
}


.main-product .nav {
	float: left; width: 100%; margin: 0px 0px 10px;
}
.main-product .nav a {
	display: inline-block; font-size: 14px; color: #000000;
}
.main-product .nav span {
	font-size: 14px;
}
.main-product .nav a:hover, .main-product .nav span {
	color: #00619f;
}

.main-product .sp_sub_category_big .boxsp {
	width: 270px;
}


.ttinsanpham {
	width: 980px;
}

.leftthongtin {
	width: 460px;
}
.leftthongtin .boxhinhlonsp {
	width: 440px; height: 380px;
}
.leftthongtin .box-chung-toi-cam-ket {
	padding: 10px 20px; border: 1px solid #cccccc; width: 400px; border-radius: 5px; float: left; background: #fafafa;
}
.leftthongtin .box-chung-toi-cam-ket p {
	font-size: 15px; line-height: 20px; padding: 3px 0 0 20px; background: url("../images/icon-check.png") no-repeat 0 4px;
}
.leftthongtin .box-chung-toi-cam-ket span {
	color: #ed0000; display: block; font-size: 18px; line-height: 20px;
}


.rightthongtin {
	width: 505px; float: right; margin: 0;
}
.price-detail {
	font-size: 23px; color: #ff0000;
}
.tu-van {
	font-size: 18px; color: #000000;
}
.tu-van span:last-child {
	color: #ff0000;
}
.thongtincoban {
	width: 100%; float: left; margin-bottom: 15px;
}
.thongtincoban .p-title {
	width: 100%; font-size: 16px; color: #000000; margin: 5px 0 2px; font-weight: 600;
}
.thongtincoban hr {
	border: 0; border-top: 1px solid #cccccc; float: left; width: 100%; margin-bottom: 5px;
}
.thongtincoban p {
	font-size: 14px; line-height: 18px;
}


.thongtincanluuy {
	width: 100%; float: left; margin-bottom: 15px;
}
.thongtincanluuy .p-title {
	width: 100%; font-size: 16px; color: #000000; margin: 5px 0 2px; font-weight: 600;
}
.thongtincanluuy hr {
	border: 0; border-top: 1px solid #cccccc; float: left; width: 100%; margin-bottom: 5px;
}
.thongtincanluuy p {
	font-size: 14px; line-height: 18px;
}

.qua-khuyen-mai {
	width: 435px; border: 2px solid #f3ae1a; float: left; background: url("../images/gift.png") no-repeat;
	border-radius: 3px;
}
.info-qua-khuyen-mai {
	margin: 50px 0 10px 20px;
}
.info-qua-khuyen-mai p {
	font-size: 14px; line-height: 18px;
}


.thongso a {
	margin-left: 0px;
}
.thongso a:hover{
	margin-left: 0;
}

#thongsokithuat p, #gioithieusanpham p {
	margin-bottom: 18px; line-height: 18px;
}


.main-product-detail {
	width: 980px; float: left; margin-top: 15px;
}
.product-col-right {
	float: right; width: 290px; margin-top: 10px;
}
.box-product-col-right {
	float: left; width: 100%;
}
.box-product-col-right-title {
	width: 100%;
}
.box-product-col-right-title h5 {
	text-transform: uppercase; font-weight: 400; font-size: 18px; color: #000000;
}
.box-product-col-right-title hr {
	border: 0; border-top: 1px solid #cccccc; float: left; width: 100%; margin-bottom: 5px;
}


.sub-category-service {
	margin: 0 0 5px; width: 100%; float: left;
}
.sub-category-service ul li {
	float: left; line-height: 23px; padding-right: 20px; padding-left: 10px;
	background: url('../images/icon-menu.png') no-repeat 0 8px;
}
.sub-category-service ul li a {
	color: #000000; font-size: 14px;
}
.sub-category-service ul li a:hover {
	color: #00619f;
}


.box-service {
	float: left; width: 100%; margin-bottom: 10px; border-bottom: 1px solid #b0b0b0; padding-bottom: 10px;
}
.box-service .img-server {
	float: left; margin-right: 10px; width: 195px; height: 105px; border: 1px solid #cccccc;
}
.box-service .right-box-service {
	float: right; width: 460px;
}
.box-service .right-box-service a {
	text-transform: uppercase; margin-bottom: 5px; font-size: 14px; color: #000000; font-weight: 600;
}
.box-service .right-box-service a:hover {
	color: #00619f;
}
.box-service .right-box-service p.date-service {
	color: #7a7a7a; padding: 3px 0;
}
.box-service .right-box-service p.des-service {
	font-size: 13px; color: #262626; text-align: justify;
}







/**
 * Download
 ********************************/
.hinhcongnghe {
	width: 195px; height: 105px; border: 1px solid #cccccc; margin-left: 0; margin-right: 10px;
}
.hinhcongnghe img {
	width: 195px; height: 105px;
}
.titlecongnghe a {
	width: 465px; text-transform: uppercase; color: #262626; margin: 0;
}
.ttincongghe .sreenttin {
	margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #cccccc;
}
.date-technology {
	font-style: italic; color: #7a7a7a;
}


.main-news-social {
	margin: 5px 0 10px; width: 100%; float: left;
}
.main-news-social .social {
	float: left; width: 500px;
}
.fb_iframe_widget {
	float: left !important; margin-right: 10px;
}
.main-news-social span.time-update-news {
	float: right; height: 20px; line-height: 20px; font-size: 14px; font-style: italic; color: #797979;
}


.cactinkhac2 {
	width: 675px; margin: 0px;
}
.cactinkhac2 h3.h3-news-related {
	border-left: 3px solid #299feb; color: #000000; text-transform: uppercase; line-height: 25px; padding-left: 10px;
	margin-bottom: 15px; font-size: 15px; height: 25px;
}
.cactinkhac2 .main-news-related {
	width: 675px; float: left;
}
.cactinkhac2 .main-news-related .sreentieude {
	float: left; width: 330px; margin-right: 10px; margin-left: 0; margin-bottom: 15px;
}
.cactinkhac2 .main-news-related .sreentieude:nth-child(2n) {
	margin-right: 0px;
}
.cactinkhac2 .main-news-related .sreentieude a.img-news-related {
	width: 100px; height: 75px; border: 2px solid #cccccc; float: left; margin-right: 5px;
}
.cactinkhac2 .main-news-related .sreentieude a.img-news-related img {
	border: none; width: 100%; height: 100%;
}
.sreentinkhacchitiet {
	width: 220px; float: right;
}
.sreentinkhacchitiet a{
	color: #000000; margin-bottom: 3px; font-size: 13px; float: left; font-weight: 600;
}
.sreentinkhacchitiet a:hover {
	color: #00619f;
}
.sreentinkhacchitiet p.des-news-related {
	height: 30px; overflow: hidden; margin-bottom: 2px; float: left; text-align: justify;
}
.sreentinkhacchitiet p.date-news-related {
	color: #7a7a7a;
}


/**************************************
 * Lien He
 **************************************/
.gui input {
	width: 70px; height: 30px; background: #00619f; border: none; cursor: pointer; float: left; margin-right: 10px;
	text-transform: uppercase; color: #ffffff;
}
.contact-tbl-row {
	font-size: 14px; line-height: 20px;
}
.contact-tbl-row img {
	vertical-align: middle;
}
.contact-tbl-label {
	margin-bottom: 3px; font-size: 14px; color: #000000;
}
.contact-text-field {
	width: 350px; height: 25px; line-height: 25px; border: 1px solid #cccccc;
}
textarea#message {
	resize: none; border: 1px solid #cccccc; width: 500px; height: 170px;
}


.line-title {
	width: 100%; position: relative; margin-bottom: 20px;
}
.line-title .left-30 {
	width: 10%; height: 2px; background: #00619f; position: absolute; top: 0; left: 0;
}
.line-title .left-70 {
	width: 90%; height: 2px; background: #787878; position: absolute; top: 0; right: 0;
}

.phantrang {
	float:left; width:675px; height:20px;
}
.phantrang .back {
	width: 675px; text-align: center;
}
.phantrang .back p {
	display: inline-block;
}

.ttincongghe {
	width: 675px;
}


h1.h1-title {
	font-weight:bold; font-size:16px; margin-bottom:3px; text-transform: uppercase;
}